
.latin-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.search-box {
    background: white;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

button.search-btn {
    border: none;
    outline: none;
    cursor: pointer;
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.search-txt {
    border: none;
    background: white;
    outline: none;
    float: left;
    padding: 2px;
    color: black;
    font-size: .8rem;
    transition: 0.4s;
    line-height: 1;
    width: 150px;
    
}

.latin-result {
    margin-top: 10px;
}
.latin-result table td{
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
}
.latin-result table td{
    padding: 10px;
}
@media (max-width: 550px) {
    .search-txt {
        font-size: .6rem;
        width: 100px;
    }
}