.lr-container {
    position: relative;
    margin: 0 100px;
    padding: 10px;
    /* background-color: #fff; */
}
.lr-container::before {
    content: '';
    clear: both;
    display: table;
}

@media(max-width: 1200px){
    .lr-container {
        padding: 20px 30px;
    }
}
@media(max-width: 900px){
    .lr-container {
        padding: 20px 50px;
    }
}
@media(max-width: 550px){
    .lr-container {
        padding: 20px 10px;
    }
}