.left {
  float: left;
  width: 70%;
  border-radius: 10px;
}
.left img{
  float: left;
  max-width: 600px;
}
.left div[align='right'] img{
  float: left;
  width: 100%;
  max-width: 600px !important;
  border-radius: 10px;
}

@media (max-width: 1150px) {
  .left {
    /* max-width: 400px; */
    display: block;
    width: 100% !important;
  }
}
