.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}
@media (max-width: 550px) {
    .logo {
        font-size: .8rem;
    }
}