
/* Post */
.post .post-box {
    width: 100%;
    margin-bottom: 100px;
}
.post .post-box .post-catagory {
    border-bottom: 1px solid #000 ;
    /* padding-top: 5px; */
}
.post .post-box > p {
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
    
}
.post .post-box p a {
    color: #000;
}
.post .post-box p:hover a {
    color: #24890d;
}
.post .post-box p i {
    margin-left: 5px;
    /* left: 50%;
    top: 50%; */
    transform: translate(-50%, 10%);
}
.post .post-box .list-post li a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin: 20px 0;
    border-bottom: 1px solid #ccbdbd; */
}
.post .post-box .list-post li .img-post img{
    width: 100px;
}
.post .post-box .list-post li .title-post {
    /* padding-left: 20px; */
    min-width: 200px;
}
.post .post-box .list-post li .title-post p{
    text-decoration: none;
    color: #24890d;
}
.post .post-box .list-post li .title-post p:hover{
    color: #78b16b;
}

@media(max-width: 850px){
    .post .post-box .list-post li .title-post {
        max-width: 600px;
    }
}

.sub-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.sub-pagination img{
    width: 25px;
    height: 25px;
    border: 1px solid #b2b2b2;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.sub-pagination img:hover{
    background:  #b2b2b2;
}