.main-menu-container  {
    position: absolute;
    float: left;
    width: 300px;
    padding: 0 20px;
    z-index: 1;
}
.logo-admin {
    height: 72px;
    padding: 10px;
}
.logo-admin img {
    height: 100%;
    width: 200px;
}
.main-menu-container .menu-item.active,
.main-menu-container .menu-item:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(0, 167, 220);
}
.main-menu-container .menu-item {
    padding: 10px;
    border: 1px solid rgb(217, 217, 217);
    transition: all 0.2s ease 0s;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.main-menu-container .menu-item .icon {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 30px;
}
.main-menu-container .menu-item span {
    font-size: 20px;
}
.sup-menu-item {
    padding: 10px;
    transition: all 0.2s ease 0s;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.sup-menu-item.active,
.sup-menu-item:hover {
    color: rgb(0, 167, 220);;
}