.panigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.panigation ul {
    max-width: 350px;
  display: flex;
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.panigation ul li {
  display: flex;
  list-style: none;
}
.panigation ul li button,
.panigation ul li input,
.panigation ul li span {
  outline: none;
  border: none;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  color: #262626;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
}
.panigation ul li:nth-child(3) button span{
    background: url("../../assets/icons/search.svg") no-repeat center center;
    width: 20px;
  height: 20px;
}
.panigation ul li input {
  border: 1px solid #000;
}
/* .panigation ul li:first-child button {
  border-radius: 20px 0 0 20px;
}
.panigation ul li:last-child button {
  border-radius: 0 20px 20px 0;
} */
.panigation ul li button:hover,
.panigation ul li button.active {
  background-color: #99f3bd;
}
/* Chrome, Safari, Edge, Opera */
.panigation input::-webkit-outer-spin-button,
.panigation input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.panigation input[type="number"] {
  -moz-appearance: textfield;
}
