<IfModule mod_rewrite.c>
  ErrorDocument 404 /404.php
  Options -Indexes -MultiViews
  RewriteEngine On
  RewriteRule ^(.*) - [E=BASE:%1]
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
  Header set Access-Control-Allow-Origin "*"
  RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>