.intro-box {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px dashed #000;
}
.intro-box .img-box {
    width: 300px;
    height: 300px;
    position: relative;

}
.intro-box .img-box img {
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
    
}
.intro-box .intro-text .title{
    font-size: 16px;
    font-weight: 700;
}


.intro-box .intro-text {
    display: flex;
    flex-direction: column;
}
.intro-box .intro-text .list-image{
    max-width: 300px;
}
.intro-box .intro-text .list-image img {
    padding: none;
    object-fit: fill;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 5px;
}
.intro-box .intro-text .list-image img:hover,
.intro-box .intro-text .list-image img.active {
    border: 2px solid #ee4d2d;
}
.intro-box .intro-text table {
    max-width: 300px;
}
.intro-box .intro-text table tr {
    height: 27px;
}
@media(max-width: 1200px){
    .intro-box .img-box {
        width: 300px;
        height: 200px;
        position: relative;
    }
    .intro-box {
        grid-template-columns: repeat(1, 1fr);
    }
    .intro-box .intro-text {
        flex-direction: column-reverse;
    }
    .intro-box .intro-text .list-image{
        padding: 10px 0;
    }
}
@media(max-width: 1250px){
    .intro-box .img-box img {
        width: 300px
    }
}
@media(max-width: 480px){
    
    .intro-box .img-box img {
        width: 100%;
    }
    .intro-box .intro-text .list-image img {
        width: 50px;
        height: 50px;
    }
}