
.container-species .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.container-species .card.reverse {
    text-align: center;
    flex-direction: row;
}
.container-species .card.row {
    flex-direction: row-reverse;
    text-align: center;
}

.container-species .card .imgBx {
    position: relative;
    left: 25px;
    width: 700px;
    height: 600px;
    z-index: 1;
}
.container-species .card.row .imgBx {
    left: -25px;
} 
.container-species .card .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-species .card .contentBx {
    position: relative;
    right: 25px;
    width: 700px;
    height: 600px;
    background: #fcdab7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px 20px 100px;
}
.container-species .card.row .contentBx {
    padding: 10px 100px 20px 60px;
    right: -25px;
}
.container-species .card .contentBx::before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #fcdab7;
    z-index: -1;
}
.container-species .card .contentBx h2 {
    font-size: 30px;
    color: #000;
}
.container-species .card .contentBx p {
    line-height: 23px;
    margin-top: 10px;
    font-size: 20px;
    color: #000;
}
.container-species .card .contentBx a {
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000;
} 
@media(max-width: 1180px) {
    .container-species .card {
        flex-direction: column;
        max-width: 350px;
        margin: 25px;
    }
    .container-species .card .imgBx {
        width: 100%;
        height: auto;
        left: 0 !important;
    }
    .container-species .card .contentBx {
        width: 100%;
        height: 300px;
        right: 0 !important;
        padding: 30px !important; 
        text-align: center;
    }
    .container-species .card .contentBx::before {
        top: 0;
        bottom: 0;
    }
    .container-species .card:nth-child(even) .imgBx {
        left: 0;
    }
    .container-species .card:nth-child(even) .contentBx {
        right: 0;
        padding: 30px;
    }
}