.container-layout {
    /* margin: 0 100px; */
    min-height: 100vh;
    /* background-color: #fff; */
    /* padding: 0 10px; */
}
/* @media(max-width: 1000px) {
    .container-layout {
        margin: 0 50px;
    }
}
@media(max-width: 500px) {
    .container-layout {
        margin: 0 10px;
    }
} */

