.button-custom {
  background-color: rgb(0, 167, 220);
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  transition: all 0.2s ease 0s;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.button-custom:hover {
  color: rgb(0, 167, 220);
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 167, 220);
}
.filter-icon {
  height: 11px;
  width: 11px;
  color: #fff;
  margin-right: 5px;
}
/* .button-custom span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 2px solid #99f3bd;
    border-radius: 11px;
  }
  
.button-custom span::before {
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all .3s;
  }
.button-custom:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #99f3bd;
  }
  
.button-custom:hover{
    color: #000;
  }
.button-custom:active {
    
    transform: scale(1.1);
  } */
