.hashtag-box{
    width: 350px;
    /* border: 1px solid #c0c0c0; */
    border-radius: 20px;
    padding: 10px 0;
    /* margin-bottom: 20px;
    margin-left: 20px; */
    min-height: 150px;
}
.hashtag-box .hashtag-catagory {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
}